.CompanyDetails{
    width: 800px;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: black;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
}

h1 {
    color: orangered;
}